@font-face {
  font-family: 'SolaimanLipi, sans-serif ';
  src: url('SolaimanLipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bn{
  font-family: 'SolaimanLipi, sans-serif ';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* .min-vh-90-100 {
  height: calc(90vh - 90px);
} */

.login-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.max-width-540 {
  max-width: 460px;
  border: none;
  min-height: 400px;
}

.login-card-padding{
  padding: 30px 25px !important;
}

.card-footer-image{
  width: 60px;
  height: 60px;
}

#body {
  font-family: "Roboto";
  box-sizing: border-box;
  overflow-x: hidden; /* Disables horizontal scrolling */
  overflow-y: hidden; /* Disables vertical scrolling */
}

/** new style add  */
.btn.login-button {
  --rotate: 180deg;
  background: linear-gradient(var(--rotate), #92278f 0%, #662d91 100%);
  color: white;
  border: 0px solid rgba(0, 0, 0, 0);
  line-height: 15px;
  transform: translatey(0px);
  transition: all .75s cubic-bezier(0.72, 0.11, 0.22, 0.92);
  position: relative;
  z-index: 10;
  --hover-radius: 60px;
  overflow: hidden
}

.otp-box{
  width: 80px;
}

.btn.login-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  inset: 0;
  z-index: -10;
  opacity: 1;
  transition: all .75s cubic-bezier(0.72, 0.11, 0.22, 0.92);
  clip-path: circle(0% at 0% 0%)
}

.btn.login-button:is(:hover) {
  transform: translatey(-1px)
}

.btn.login-button:is(:hover)::after {
  clip-path: circle(150% at 0 0)
}

.custom-card-frontend{
  border: none;
  margin-bottom: 10px;
}

.media-btn-custom:hover{
  background-color: #198754;
  color: white;
}

.according-custom:hover{
  background-color: #198754;
  color: white;
}

.carousel-inner-custom{
  height: 140px;
}

.btn-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title{
  font-size: 18px !important;
}

.noipunno-app{
  width: 80%;
}

.transparent-card{
  border: none;
  background-color: #f6f6f883;
  width: 100%;
  margin-left: 0px;
}

.footer-card-custom{
  margin-right: -120px;
}

.card-body-custom{
  padding: 10px;
  color: black;
  background-color: #ffffff56;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 55px;
  font-family: 'SolaimanLipi, sans-serif ';
}

:root {
  /* color */
  --bg_primary_dark: #2d6668;
  --bg_primary: #428f92;
  --bg_secondary: #a9fcff;
  --bg_success: #f0fae9;
  --text_primary_dark: #2d6668;
  --text_secondary_dark: #0e7e7e;
  --text_primary_fade: #7daeb0;
  --text_success: #69cb1c;
  --text_dark: #222222;
  --text_white: #ffffff;
  --text_blue_dark: #181c32;
}

/* ---------login page start------------------- */
.login-page {
  background: linear-gradient(180deg, #befdff 0%, #48b8b9 100%);
}

.login-bg {
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../login_page_materials/images/LoginbgImage.svg);
}

.marque-notification {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  transition: top 2s ease 0s;
  /* only transition top property */
  top: 20px;
  /* start transitioning from position '0' instead of 'auto' */
  padding: 4px 0;
  color: #0e7e7e;
  background-color: #ffffff;
  border-radius: 30px;
  padding-bottom: 0px;
}

.loginLogo {
  height: 44px;
  width: 100px;
}

.loginCard {
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.teacher-login-title {
  color: #181C32;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 2px;
  text-align: left;
  font-family: 'SolaimanLipi, sans-serif ';
}

.np-login-subtitle {
  color: var(--text_dark);
  font-family: 'SolaimanLipi, sans-serif ';
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.login-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text_blue_dark);
   font-family: 'SolaimanLipi, sans-serif ';
}

.login-container {
  /* margin-top: 70px !important; */
}

.np-login-checbox-text {
  color: var(--text-secondary-color);
}

.login-button {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary-color-1);
  color: white;
  margin: 0 auto;
  width: 100%;
  font-family: 'SolaimanLipi, sans-serif ';
}

.max-width-540 {
  max-width: 450px;
  border: none;
  min-height: 400px;
}



.password-toggle {
  position: absolute;
  right: 3%;
  top: 20%;
  z-index: 100;
}

.np-login-field-icon {
  position: absolute;
  left: 4%;
  z-index: 100;
  top: 30%;
  width: 20px;
  color: var(--text_dark);
}

.collect-pin {
   font-family: 'SolaimanLipi, sans-serif ';
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6278;
}

.collect-pin input {
  color: var(--text_secondary_dark);
}

.login-btn {
  background-color: var(--bg_primary);
  color: var(--text_white);
   font-family: 'SolaimanLipi, sans-serif ';
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.0225em;
}

.forget-password {
   font-family: 'SolaimanLipi, sans-serif ';
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #5e6278;
}

.forget-password:hover {
  color: var(--bg_primary_dark);
}

/* --------- */
.form-check-input:checked {
  background-color: var(--text_secondary_dark) !important;
  border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--text_primary_dark) !important;
}

.form-check-style {
  padding-left: 45px;
}

.pin-collect {
  padding-left: 10px;
}

/* --------- */
.np-login-form-field {
  border-radius: 5px !important;
  background-color: #e3f3ff !important;
  padding: 0.775rem 2.75rem;
  border: none;
  height: 40px;
}

.form-control::placeholder{
  color: rgba(112, 111, 111, 0.849) !important;   
}

.login-field-title {
   font-family: 'SolaimanLipi, sans-serif ';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bg_primary);
}

.login-next-page {
  color: white;
  text-decoration: none;
}

.login-forget-pass {
  float: right;
  text-decoration: none;
  color: black;
}

.login-language {
  font-weight: 400;
  color: #222;
}

.footer-menus a {
  font-size: 12px;
  color: var(--text_dark);
}

.footer-menus a:hover {
  color: var(--bg_primary);
}

.helpedBy p {
  font-family: Public Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0px;
  text-align: right;
}

.helpedBy img {
  height: 32px;
  width: 32px;
}

/* app info start */
.app-info-btn {
  background-color: var(--bg_primary);
  box-shadow: 0px 2px 3px 0px #0000001a;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  gap: 10px;
  height: 44px;
  width: 44px;
  border: none;
}

.app-info-icon {
  height: 24px;
  width: 24px;
}

.chat_box {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 999;
}

.popup {
  position: absolute;
  width: 257px;
  height: 358px;
  border-radius: 6px;
  right: 0;
  bottom: 100%;
  display: none;
  background-color: var(--text_white);
  margin-bottom: 20px;
}

.popup:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid var(--bg_primary);
  position: absolute;
  bottom: -18px;
  right: 15px;
  z-index: 99;
}

.popup-app-info-top {
  height: 300px;
  padding: 20px;
  border: 1px solid #93f0f3;
  border-radius: 6px 6px 0px 0px;
}

.popup-card-institutions {
   font-family: 'SolaimanLipi, sans-serif ';
  font-size: 11px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0px;
  color: var(--text_dark);
  padding-top: 5px;
}

.popup-card-institutions ul> :first-child {
  font-weight: 700;
}

.chat_btn {
  border: none;
  border-radius: 6px 6px 0px 0px;
}

.popup-app-info-reserved {
  height: 22px;
}

.reserved-app-info {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  height: 19px;
  letter-spacing: 0px;
  /* color: var(--text_dark); */
}

.popup-card-body {
  padding: 0px 0px 5px 0px;
  height: 120px;
}

.popup-card-icons {
  gap: 5px;
  height: 40px;
  margin-bottom: 5px;
}

.popup-app-info-bottom {
  height: 105px;
}

.popup-version-bottom {
  height: 58px;
  background-color: var(--bg_primary);
  border-radius: 0px 0px 6px 6px;
}

.popup-version {
  padding: 19px 13px 19px 13px;
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.popup-version-info {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--text_white);
}

/* .loginCard ::placeholder {
  font-size: 16px;
  padding-left: 10px;
} */

/* app info end */

.otp-card{
  width: 400px;
}

.help-desk-mobile{
  display: none !important;
}

/* media query start */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .helpedBy {
    width: 350px;
  }

  .transparent-card{
    border: none;
    background-color: #f6f6f844;
    margin-right: 0px;
  }

  .footer-card-custom{
    margin-right: 0px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .max-width-540 {
    max-width: 100%;
    border: none;
    min-height: 400px;
  }

  .teacher-login-title {
    color: #181C32;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
  }

  .footer-card-custom{
    margin-right: 0px;
  }

  .transparent-card{
    border: none;
    background-color: #f6f6f883;
    margin-right: 0px;
    margin-left: 0px;
  }

  .np-login-subtitle {
    font-size: 12px;
  }

 .loginCard {
    padding: 20px 40px;
  }

  .np-login-form-field {
    padding: 0.775rem 2.75rem;

  }

  .helpedBy {
    width: 500px;
  }

  .loginCard ::placeholder {
    font-size: 14px;
    padding-left: 0px;
  }

  .card-footer-image{
    width: 60px;
    height: 60px;
  }

  .app-download{
    margin: auto;
    text-align: center;
  }
  
}

@media screen and (min-width: 601px) and (max-width: 767.98px) {
  .order-mobile-first {
    order: -1;
  }

  .loginCard{
    margin-bottom: 20px;
  }

  .loginLogo {
    height: 50px;
    width: 100px;
  }

  .footer-card-custom{
    margin-right: 0px;
  }

  .app-download{
    margin: auto;
    text-align: center;
  }

  .transparent-card{
    border: none;
    background-color: #f6f6f883;
    width: 95%;
    margin-left: 0px;
  }
  
  .card-body-custom{
    margin-bottom: 0px;
    width: 90%;
  }

  .card-footer-image{
    width: 60px;
    height: 60px;
  }

  .teacher-login-title {
    font-size: 16px !important;
  }

  .np-login-subtitle {
    font-size: 12px;
  }

  .login-field-title {
    font-size: 12px;
  }

 .loginCard {
    padding: 30px 40px;
  }

  .np-login-form-field {
    border-radius: 5px !important;
    background-color: #f5f8fa;
    padding: 0.3rem 2.75rem;
    border: none;
  }

  .np-login-subtitle {
    display: none;
  }

  .footer-menus {
    display: none;
  }

  .loginCard ::placeholder {
    font-size: 14px;
  }

  .chat_box {
    position: fixed;
    right: 3px;
    bottom: 58px;
    z-index: 99;
  }
}

@media screen and (min-width: 376px) and (max-width: 600px) {
  .order-mobile-first {
    order: -1;
  }

  .help-desk-desktop{
    display: none !important;
  }

  .help-desk-mobile{
    display: block !important;
  }

  .login-container {
      margin-top: 20px !important;
  }
  
  .loginCard{
    margin-bottom: 20px;
  }

  .transparent-card {
      border: none;
      background-color: #f6f6f883;
      margin-right: 20px;
      height: 520px;
      width: 100%;
      margin: auto;
  }

  .card-body-custom {
    padding: 10px;
    color: black;
    background-color: #ffffff56;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .carousel-inner-custom{
    height: 200px;
  }
  .app-download{
      margin: auto;
      text-align: center;
  }

}

@media screen and (min-width: 0px) and (max-width: 375.98px) {
  .order-mobile-first {
    order: -1;
  }
  
  .help-desk-desktop{
    display: none !important;
  }

  .help-desk-mobile{
    display: block !important;
  }

  .login-container {
    margin-top: 10px !important;
  }

  .app-download{
    margin: auto;
    text-align: center;
  }

  .loginCard{
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .transparent-card {
    border: none;
    background-color: #f6f6f883;
    margin-right: 20px;
    height: 620px;
    width: 100%;
    margin: auto;
  }

  .card-body-custom {
    padding: 5px;
    color: black;
    background-color: #ffffff56;
    width: 95%;
    margin: auto;
    border-radius: 10px;
  }

  .loginLogo {
    height: 30px;
    width: 50px;
  }

  .teacher-login-title {
    font-size: 16px !important;
  }

  .np-login-subtitle {
    font-size: 12px;
  }

  .login-field-title {
    font-size: 12px;
  }

  .loginCard {
    padding: 10px 40px;
  }

  .carousel-inner-custom{
    height: 240px;
  }

  .np-login-form-field {
    border-radius: 5px !important;
    background-color: #f5f8fa;
    padding: 0.5rem 2.75rem;
    border: none;
  }

  .footer-menus {
    line-height: 1.2;
    font-size: 12px;
  }

  .helpedBy img {
    height: 20px;
    width: 20px;
  }

  .np-login-subtitle {
    display: none;
  }

  .form-check-style {
    padding-left: 40px;
  }

  .footer-menus {
    display: none;
  }

  .loginCard ::placeholder {
    font-size: 14px;
    padding-left: 3px;
  }

  .chat_box {
    position: fixed;
    right: 3px;
    bottom: 46px;
    z-index: 99;
  }

}

/* media query end */
/* ---------login page end------------------- */